<div class="container">

<div id="weather-forcast">
  <div class="day">
    <h2>Today</h2>
  </div>
  <div id="weather-state">
    <img src="/assets/thunder.png" alt="thunder">
    <h3>Thunder</h3>
  </div>
  <div id="weaather-details">
    <div class="col-1">
    <p>Min Temp</p>
    <p>26 C</p>
  </div>
  <div class="col-2">
    <p>Max Temp</p>
    <p>20 C</p>
  </div>
  </div>

  <div id="weaather-details">
      <div class="col-1">
      <p>Pressure</p>
      <p>26 C</p>
    </div>
    <div class="col-2">
      <p>Wind Speed</p>
      <p>20 C</p>
    </div>
    </div>

    <div id="weaather-details">
        <div class="col-1">
        <p>Visibility</p>
        <p>966mb</p>
      </div>
      <div class="col-2">
        <p>Humidity</p>
        <p>20 C</p>
      </div>
      </div>

</div>

</div>