.weater-forcast-days{
    margin: 2rem auto;
}

#weather-days {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.day{
    text-align: center;
    background: #1c83df;
    color: #fff;
    padding: 0.3rem;}


#weaather-details{
    display: flex;
    padding: 0.5rem;
    line-height: 1.6rem;
}

#weaather-details .col-1{
    width: 50%
}

#weather-forcast{
    width: 250px;
}

#weather-state img{
    height: 50px;
    padding: 0.7rem;
}

#weather-state .state-img{
    width: 50%;
}

/* #weather-state .thunder-img img{
    display: block;
    margin: auto;
} */

#weather-forcast{
    margin: 0 1.8rem 1.8rem 0;
}


#weather-forcast #weaather-details:nth-child(odd) {
    background: #f2f2f2;
}


#weather-state{
    display: flex;
    align-items: center;
}

#weather-state .state-text{
    color: #7f7f7f;

}





