.day{
    display: inline-block;
    margin: 0.5rem 0 0.3rem 4rem;
}

.day h1{
    border-bottom: 3px solid #00b0f0;
    font-weight: 700;
}

.day h1:hover{
    cursor: pointer;
}


#weather-data{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#weather-data .box{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    width: 33%;
    height: 10rem;
    align-items: center;
    justify-content: center;
}

#weather-data .box h3{
    font-size: 2rem;
}

#weather-data .box p{
    font-size: 1.5rem;
}


#weather-data .box h3{
    color: rgb(0, 176, 240);
}

#weather-data div:nth-child(even){
    background: #d9d9d9;
}

#weather-data div:nth-child(odd){
    background: #f2f2f2;
}

#weather-img{
    display: flex;
    width: 20%;
    justify-content: center;

}

#weather-img img{
    width: 100px;
}

#weather-details{
    display: flex;
}

    
/* Media Query */
@media screen and (max-width: 750px){
    #weather-data{
        flex-direction: column;
        width: 100%;
        align-content: center;
    }

    #weather-img{
        display: none;
    }

    #weather-data .box{
        width: 60%;
    }

    .day{
        display: inline-block;
        margin: 0.5rem 0;
        width: 100%;
    }

    .day h1{
      text-align: center;
    }

}
