nav{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    height: 50px;
}

#city{
    /* display: none; */
    list-style: none;
    position: relative;
}

#city li{
    font-size: 1.2rem;
    color: #959595;
    background: #fff;
    padding: 0.5rem;
    margin: 0.1rem 0;
    border:1px solid #959595;
}

/* #city li:hover{
    background: rgb(80, 80, 80);
   
} */

#main-logo{
    display: flex
}

#main-logo h2{
    align-self:center;
    margin-left: 1rem;
    font-weight: 400;
}

#search{
    margin-top:0.5rem; 
    align-self: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    color: #959595;
    width: 200px;
    background: url('/assets/search_img.png') right no-repeat;
    background-size: 17%; 
    border:1px solid #959595;
}

::placeholder {
    color: #959595;
  }

.logo-img{
    height: 50px;
}

.link{
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }


@media screen and (max-width:500px){
    #main-logo h2{
        font-size: 1.2rem;
        margin-left: 0.6rem;
    }

    .logo-img{
        height: 45px;
    }

    
#search{
    width: 170px;
}
    
}  